.login-page {
    background: url('../images/appbg.jpg') no-repeat fixed top right;
}

.login-box .card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-box .card .card-body {
    background: white;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #aeaeae5c;
}